{% load static %}

<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2024 My Django Site. All rights reserved.</p>
        <p>Contact us: <a href="mailto:info@mydjangosite.com">info@mydjangosite.com</a></p>
        <p>Follow us on:
            <a href="https://twitter.com/mydjangosite" target="_blank">Twitter</a> |
            <a href="https://facebook.com/mydjangosite" target="_blank">Facebook</a> |
            <a href="https://instagram.com/mydjangosite" target="_blank">Instagram</a>
        </p>
    </div>
</footer>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">